@import url('https://fonts.googleapis.com/css2?family=Playwrite+CU:wght@100..400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Playwrite+CU:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');


*{
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
}


body{
    background-color: #1b1a17;
    color: #e6d5b8;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    letter-spacing: 0.07em;
    min-height: 100vh;
    padding-bottom: 70px;
    position: relative;
}


a{
    text-decoration: none;
    color: inherit;
}

.linea{
    width: 25%;
    hr{
        width: 100%;
        color: #f0a500;
    }
    
}

h1,h3{
    font-family: "Playwrite CU", cursive;
    font-weight: 100;
    font-style: normal;
    color: #e6d5b8;
}

h1{
    font-size: 2em;
}

.container{
    height: calc(80vh - 70px);
    display: flex;
    flex-flow: row wrap;   
    justify-content: center;
    align-items: center;
    padding-top: 2em;

    .miFoto{
        width: 50%;
        text-align: center;
        img{
            width: 50%;
                border-radius: 50%;
        }
    }

    .tituloContainer{
        display: none;
    }

    .contenidoAboutMe{
        width: 50%;
        padding: 2em;
        line-height: 2;
    }

    .contenidoContactos{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;

        figure{
            width: 25%;
            text-align: center;
        }
        img{
            width:50%;    
            &:hover{
                filter: brightness(50%);
            }       
        }
    }
}

header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: 50px;

    .navbar{
        width: 75%;
        
        ul{
            display: flex;
            flex-direction: row;
            justify-content: space-around;

            a{
                padding: 0.5em;
            }

            a.active{
                background-color: #4d3308;
                border-radius: 10px;
            }
        }
        
    }

    .bars{
        display: none;
    }
}

footer{
    position: absolute;
    bottom: 0;
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    padding-bottom: 30px;

    .circulos{
        width: 75%;
        img{
            width: 10px;
        }
    }
}


.containerProyectos{
    display: flex;
    width: 100%;
    flex-direction: column;
    padding: 2em;

    .tituloContainer{
        display: none;
    }

    .textoProyectos{
        font-family: "Cormorant Garamond", serif;
        font-weight: 400;
        font-size: 1.5em;
        font-style: normal;
        text-align: center;
        padding: 0 1em;
    }

    .contenidoProyectos{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        padding-top: 2em;

        img{
            width: 100%;
            border-radius: 10px;
        
            &:hover{
                filter: brightness(30%); 
            }
        }

        figure{
            width: 25%;
        }
    }
}

@media (max-width:768px){
    header{
        flex-direction: column;
        height: initial;
        width: 100%;
        z-index: 10;
        justify-content: flex-start;

        div{
            width: 100%;
        }

        .linea{
            display: none;
        }

        .bars{
            height: 100%;
            display: flex;
            align-items: center;
            
            img{
                width: 40px;
                cursor: pointer;
            }

            .close{
                display: none;
            }
        }

        .navbar{
            display: flex;
            justify-content: center;
            position: absolute;
            top: 10%;
            left: -100%;
            background-color: rgba(27, 26, 23,0.9);
            height: 80vh;
            width: 100%;
            transition: left 0.3s linear;
            
            ul{
                flex-direction: column;
                justify-content: center;
                gap: 4em;

            }
        }

        .navbar.active{
            left: 0;

        }

        .bars.active{
            img.close{
                display: block;
            }
            img.open{
                display: none;
            }

        }
    }

    #containerExpandido{
        height: calc(80vh - 70px);
        h1{
            text-align: center;
        }
    } /*Lo hice para el caso particular del index*/

    .container, .containerProyectos{
        height: initial;
        flex-flow: column wrap;
        font-size: 0.6em;
        
        .miFoto{
            width: 100%;
        }

        .tituloContainer{
            display: block;
            text-align: center;
            font-size: 1.5em;

            &#tituloProyectos::before{
                content: "Proyectos Personales";
            }

            &#tituloContacto::before{
                content: "Contacto";
            }
        }

        .contenidoAboutMe{
            width: 100%;
        }

        .contenidoProyectos{
            flex-direction: column;
            align-items: center;

            figure{
                width: 80%;
            }
        }

        
        .contenidoContactos{
            flex-direction: column;
            figure{
                width: 80%;
                img{
                    width: 25%;
                }
            }
        }
    }

}